Tareas/Tarea1/.git
Tareas/Tarea1/tarea01-Agentes-Inteligentes/.git
Tareas/Tarea2/.git
Tareas/Tarea1/tarea02-Temple-Simulado/.git
Tareas/Tarea3/.git
Tareas/Tarea1/tarea03-SatisfaccionRestricciones/.git
Tareas/Tarea4/.git
Tareas/Tarea1/tarea04-Busquedas-Informadas/.git
Tareas/Tarea5/.git
Tareas/Tarea1/tarea05-Busqueda-Adversario/.git
Tareas/Tarea6/.git
Tareas/Tarea1/tarea06-Naive-Bayes/.git
Tareas/Tarea7/.git
Tareas/Tarea1/tarea07-aprendizaje-supervisado/.git
Tareas/Tarea8/.git
Tareas/Tarea1/tarea08-aprendizaje-no-supervisado/.git
Material/.git
ExamenRapidos/ExamenRapido9/ExamenRapido9/.git
