Tareas/Tarea1/.git
Tareas/Tarea2/.git
Tareas/Tarea3/.git
Tareas/Tarea4/.git
Tareas/Tarea5/.git
Tareas/Tarea5/.git
Tareas/Tarea6/.git
Tareas/Tarea7/.git
Tareas/Tarea8/.git
Material/.git
ExamenRapidos/ExamenRapido9/ExamenRapido9/.git
